.about{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background: #EAF2FD;
  margin-top: 10px;
}

.about__me{


font-size: 22px;
line-height: 26px;
font-weight: 700;
width: 94px;
height: 26px;
margin-left: 7px;


}

.about__p{

font-weight: 400;
font-size: 14px;
line-height: 16px;
/* Preto/100% */
color: #464646;
margin-left: 7px;

}

.about__img{

width: 140px;
height: 52px;
margin-left: 7px;
margin-top: 20px;

}

@media screen and (min-width: 768px){

  .about{

  width: 100%;
  height: 286px;
  }

}

@media screen and (min-width: 1024px){

  .about{

    width: 100%;
    height: 383px;
    
  }

  .about__me{


    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    width: 137px;
    height: 38px;
    margin-left: 80px;
      
  }

  .about__p{


    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Preto/100% */
    color: #464646;
    margin-left: 80px;
    width: 751px;
    
  }

  .about__img{

    margin-left: 80px;
  }
  
  
}