.head {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 350px;
 
}

.head__colum{

  position: relative;
  background-color:grey;
  height: 50px;
  width:100%;
  top: 5px;

}

.head__logo {

  position: absolute;
  width: 24px;
  height: 24px;
  Top: 13px;
  Left: 15px;
      
}
  
.head__name{
  
  position: absolute;
  font-size: 12px;
  left: 40px;
  padding-left: 5px;
  top: 17px;

}
  
.head__email{
  
  position: absolute;
  font-size: 12px;
  left: 190px;
  padding: 16px 0 16px 16px;
  
}
  
.head-ul__navegacion{
  
  display: none;
  
  
}

.head__img{

  width:25%;

}

.head__foto{

  border-radius: 100%;
  width: 100%;
  padding-top:10px;
  
  
}

.head__presentacion{
padding: 2px;
}

.head__saludo{

  margin: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;

}

.head__quien{

  margin: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;  
  text-align: justify;
  top: 160px;
}

.head__navegacion {

  display: flex;
  justify-content: space-between;
  /*position: relative;*/
  margin-left: 5px;
  font-size: 14px;
  width: 328px;
  
  
}

.head__link{

  padding:5px;
}

@media screen and (min-width: 768px){

 .head{
  
  width: 100%;
  height: 266px;
  position: relative;
  
 }

 .head__colum{

   
    background-color:burlywood;
    top: 5px;
   
   
 }

 .head__logo {

  position: absolute;
  width: 26px;
  height: 26px;
  Top: 13px;
  Left: 15px;
      
}
  
.head__name{
  
  position: absolute;
  font-size: 16px;
  left: 40px;
  padding-left: 5px;
  top: 17px;

}
  
.head__email{
  
  position: absolute;
  font-size: 16px;
  left: 550px;
  padding: 16px 0 16px 16px;
  width: 200px;
  
}

 .head__img{

  position: absolute;
  right: 10px;
  width: 160px;
  height: 160px;
  bottom: 15px;
  
 }

 .head__foto{

  width: 146px;
  height: 146px;
  

 }

  .head__presentacion{

    
   width: 80%;
   padding: 5px;
  
 }

 .head__saludo{

  margin: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;

 }

 .head__quien{

  margin: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;  
  text-align: start;
  top: 160px;
 }

 .head__navegacion {

  display: flex;
  justify-content: flex-start;
  /*position: relative;*/
  font-size: 16px;
  width:524px;
  
 }

 .head__link{

  margin-right:30px;

}

}

@media screen and (min-width: 1024px){

  .head{

    position: relative;
    width:100%;
    height: 520px;
    text-decoration: none;
  }
  .head__colum{

  position: absolute;
  /*background-color:yellow;*/
  top: 20px;
  width:100%;
    
  }
  .head__img{

    position: absolute;
    left: 950px;
    width: auto;
    height: auto;
    bottom: 35px;
    
   }
   .head__foto{
  
    width: 368px;
    height: 368px;
    border-radius: 15em;
    margin-right: 5em;
  
   }
  .head__presentacion{

    position: absolute;
    padding: 5px;
    top: 180px;
    width: 750px;
    
   
  }
  .head__saludo{

    font-weight: 700;
    font-size: 52px;
    line-height: 45px;  
    text-align: justify;
    width: 745px;
    height: 122px;
    margin-left: 80px;
  
   }
   .head__quien{
  
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;  
    text-align: justify;
    top: 160px;
    width: 745px;
    height: auto;
    margin-left: 80px;
    padding-bottom: 15px;
   }
   .head__navegacion {

    margin-left: 70px;
  
   }
   .head__name{
  
    font-size: 20px;
    padding-left: 8px;
    margin-left: 90px;
    
    }
    .head__logo{

  width: 30px;
  height: 30px;
  margin-left: 80px;
    }
    .head__email{
      position: absolute;
      font-size: 20px;
      left:1000px;
    }
    .head-ul__navegacion{

    display: inline-block;
    position: absolute;
    top: 35px;
    left: 400px;
    font-size: 20px;
    }

    .head__ul{

      position: relative;
    }
    .head__enlace{

      display: inline-block;
      padding-right: 25px;
      
    }
    
    .head__enlace::before{

      content: "";
      width: 0;
      background: linear-gradient(#FEFEFE,#888888);
      height: 3px;
      position: absolute;
      transition: width 0.2s;
      cursor: pointer;

    }
    .head__enlace:hover::before{

      width: 8%;
    }
    .head__link{

    margin-left: 2px;
  
    }
    .head__link:link{

      color:#464646
    }
    .head__link:visited{
      color: #F10086;
    }
    .head__link:hover{

      text-shadow: 1px 1px 5px;
      transform: scale(1.1, 1.1);
      transition: 100ms;

    }
    .head-span__name{

     color: rgb(23, 209, 172);
    }
    .head__span{

      color: red;
    }

}

